<h1>A page about two dogs and the vet's office they live in</h1>
<h2>Piggy and Munchkin, the twins</h2>
<p> This page is about 2 of my 4 dogs. Henley(piggy) and Munchkin. We call them the twins because they are best friends and can't go anywhere without each other. They also have the same face. Henley will be 5 years old in March and we have had her since she was 6 weeks old. Muchkin will be 3 to 4 years old, also in March. We don't really know muchkin's birthday, so we celebrate them together since we call them the twins anyways. They get cupcakes. They are happy. </p>
<p> We started this page to help people show off their pets and tell us why they are special. We will, of course, include pictures of our other pets. So let me see some cute little, or big, love muffins of yours! </p>